$brand-primary: #1d52a2;
$brand-primary-light: #009cff;
$brand-primary-dark: #1e3769;
$base-font-color: #171f35;
$white: #fff;

@font-face {
  font-family: "SFpro-bold";
  src: url("../../fonts/sfprodisplay-bold-webfont.woff") format("woff");
  src: url("../../fonts/sfprodisplay-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "SFpro-regular";
  src: url("../../fonts/sfprodisplay-regular-webfont.woff") format("woff");
  src: url("../../fonts/sfprodisplay-regular-webfont.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
  color: $base-font-color;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Quicksand';
}

h1,
h2,
h3,
h4 {
  font-family: 'Quicksand';
  font-weight: 700;
  letter-spacing: -0.75px;
}

.btn {
  padding: 10px 30px;
  font-family: 'Quicksand';
   font-weight: 700;
}

.btn-primary {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-outline {
  color: $base-font-color;
  background-color: $white;
  border-color: $base-font-color;
}
