.mobile-menu {
  background-color: #deecff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  .nav-group-mo {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding-top: 20%;

    a {
      color: #0c141d;
      text-decoration: none;
      cursor: pointer;
      line-height: 51px;
      font-weight: bold;
    }
  }
}

.menu {
  padding: 12px;
  padding-right: 0;
  cursor: pointer;
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.closed {
  position: absolute;
  top: 13px;
  right: 17px;
  cursor: pointer;
}

.hero {
  height: 80vh;
  @media (max-height: 800px) {
    height: 100vh;
  }

  // * {
  //   opacity: 0;
  // }

  @media (max-width: 991px) {
    height: unset;
  }
  background-image: url("../../svg/bg-wave-hero-right.svg"),
    url("../../svg/ball.svg");
  background-size: contain, 250px;
  background-repeat: no-repeat, no-repeat;
  background-position: top -200px right -100px, bottom 60px left 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    font-size: 44px;
  }

  .btn {
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .header {
    @media (max-width: 767px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-top: 20px !important;
    }
  }

  p {
    font-size: 18px;

    span {
      font-weight: 700;
      color: $brand-primary;
    }
  }

  .nav-group {
    @media (max-width: 991px) {
      display: none;
    }
    a {
      color: #161f34;
      text-decoration: none;
      background-color: transparent;
      margin-left: 24px;
      font-weight: 700;
      display: inline-block;
      transition: color 0.3s ease;
      text-transform: capitalize;

      &:hover {
        color: #1d51a2;
      }
    }
  }

  .scroll {
    img {
      width: 50px;
    }
  }
}

.animation {
  display: block;
  width: 55%;
  @media (max-width: 991px) {
    display: none;
  }
}

// services

.service-card-wrapper {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  @media (min-width: 992px) and(max-width: 1199px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.service-card {
  // width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 4px 44px rgba(224, 224, 224, 0.57);
  border-radius: 4px;
  padding: 50px 30px 30px 30px;
  /*border: 1px solid #ebebeb;*/
  // margin: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: block;

  @media (max-width: 991px) {
    min-height: 250px;
  }
  img {
    width: 80px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in;
  }

  h4 {
    font-size: 20px;
    color: $brand-primary-dark;
    transition: transform 0.3s ease-in;
  }
  p {
    transition: transform 0.3s ease-in;
  }

  &:hover {
    background-color: #1d51a2;

    img {
      transform: translateX(-120px);
    }

    h4 {
      font-size: 20px;
      color: #fff;
      transform: translateY(-10px);
    }

    p {
      color: #fff;
      transform: translateY(-10px);
    }
  }
}

.serives-group {
  padding: 40px 0;
  @media (max-width: 991px) {
    padding: 0;
  }
}

h1,
h3 {
  span {
    font-weight: 700;
    color: $brand-primary;
  }
}
.line {
  width: 100px;
  height: 5px;
  background-color: #11a1ff;
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-top: 25px;
}

.small-title {
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.what-we-do {
  min-height: 80vh;

  @media (max-height: 800px) {
    min-height: 100vh;
  }
  background-image: url("../../svg/whatwedo-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 0px center;

  .line {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .title-center {
    padding: 0px 140px;
    @media (max-width: 991px) {
      padding: 0px 30px;
    }
  }
}

.techstack img {
  width: 130px;
  // margin-right: 20px;
  margin: auto;
}

.works {
  /*display: flex;
    align-items: center;
    justify-content: center;

    .sWrapper{
      width: 78vw;
    }*/
}

.work-wrapper {
  display: flex;
  position: relative;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 5;
    transform: rotate(45deg);
    top: -21px;
    left: 38%;
  }

  .work-img {
    background-image: url("../../img/wellness-bg.jpg");
    background-size: cover;
    position: relative;
    background-position: bottom;

    img {
      width: 500px;
      position: absolute;
      right: -70px;
      z-index: 4;
      top: 74px;
    }
  }

  .work-dsc {
    position: relative;
    img {
      position: absolute;
      bottom: 20px;
      right: 30px;
    }
  }

  div {
    flex-basis: 0;
    flex-grow: 1;
    padding: 65px;
    background-color: #f0f9ff;
  }
}

.how-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 60%;
  @media (max-width: 991px) {
    width: 100%;
    margin-left: 0 !important;
  }

  span {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  span {
    width: 70px;
    height: 70px;
    background-color: #f5c629;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 30px;
  }

  .dsc {
    width: 70%;
    @media (max-width: 768px) {
      width: 100%;
    }

    h4 {
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.how-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.how-we-work {
  background-image: url("../../svg/mid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sep {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    @media (max-width: 991px) {
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }
}

.contacts {
  background-color: #363795;
  background-image: url("../../svg/map.svg");
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 0px;
  background-size: contain;

  .title-center {
    * {
      color: #fff;
    }

    @media (max-width: 991px) {
      padding: 15px 60px;
    }
  }

  .contact-wrapper {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    @media (max-width: 991px) {
      flex-direction: column;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;
      background-color: white;
      padding: 80px;
      @media (max-width: 991px) {
        padding: 30px;
        flex-basis: unset;
      }
    }

    .side {
      background-color: #041733;
      flex-basis: 0;
      @media (max-width: 991px) {
        flex-basis: unset;
      }

      flex-grow: 0.5;
      @media (min-width: 992px) and(max-width: 1199px) {
        flex-grow: 0.7;
      }
      padding: 30px;
      display: flex;
      align-items: flex-end;
    }

    .form-control {
      border: 0;
      border-bottom: 2px solid #041732;
      border-radius: 0;
      padding-left: 0;
      padding-bottom: 20px;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .contact-left {
    background: $brand-primary;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    p,
    h2 {
      color: #fff;
    }

    .contact-info {
      position: absolute;
      bottom: 19px;
      left: 30px;
      width: 78%;
    }
  }

  .contact-form {
    padding: 60px 30px 30px;
  }
}

.foot {
  .section-padding {
    padding: 60px 0;
  }
  .bottom {
    background-color: #0a1c2e;
  }
  .bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
  }
  .copyright a {
    color: $brand-primary-light;
    margin-left: 3px;
    padding-right: 3px;
  }
  .bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
  }
  .copyright p span {
    color: #d1caca;
  }
  .bottom .copyright p,
  .bottom .copyright a:hover {
    color: #6c6d83;
  }
}

.loader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
  }
}

@media (max-width: 1200px) {
  /*.loader{
       display: flex !important;
  }*/
}

.cta-section {
  width: 45%;
  @media (max-width: 991px) {
    width: 100%;
    padding-right: 0 !important;
    margin-top: 30px;
  }
}

.team {
  background-image: url("../../svg/team.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: center;
  padding-top: 250px;
  @media (max-width: 768px) {
    padding-top: 100px;
  }
  img {
    width: 70%;
    margin: auto;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

.side-group {
  padding: 30px;

  > * {
    color: #fff;
  }
}

.technology {
  @media (max-width: 991px) {
    margin-top: 80px;
  }
}

.slick-arrow {
  display: none !important;
}

.web {
  .hero {
    text-align: center;
    background-image: url("../../svg/web-bg.svg"), url("../../svg/ball-web.svg");

    @media (max-height: 800px) {
      height: unset;
    }
  }

  .cta-section {
    width: 100%;
    @media (min-width: 992px) {
      padding-top: 100px;
    }
  }

  .what-we-do {
    min-height: auto !important;
    padding: 80px 0;
  }

  .service-card {
    min-height: 500px;
    display: block;
    img {
      transition: transform 0.3s ease-in;
    }
    &:hover {
      img {
        transform: translateY(-140px);
      }
    }
  }
}

.copy {
  p {
    span {
      font-weight: bold;
      color: $brand-primary-dark;
    }
  }
}

.vr {
  .what-we-do {
    min-height: auto !important;
    padding: 150px 0;
  }
}

.wave {
  background-image: url(../../svg/wave.svg);
  padding: 69px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom -5px center;
}
